.bod{
    background-color: #2D3142
}
.container {
    background-color: #4F5D75;
    margin-top: 15px;
    border-radius: 5px;
    min-height: 500px
}
.navLink{
    color: white;
    background-color: #EF8354
}

.movie-image{
    height: 200px;
    border-radius: 3px
}
.movie-title{
    color:#BFC0C0
}